<div class="p-5">
    <h1 class="text-center mb-5">Configurar un nuevo experimento</h1>
    <form class="row" [formGroup]="paramsForm">
        <div ngbAccordion class="acordeon col-12 mt-4">
            <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <span class="material-icons-outlined">settings</span>
                        Configuración básica
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-4">
                                    <label for="dataset">Conjunto de datos: </label>
                                    <div class=" d-flex align-items-end">
                                        <select class="form-control ds__select" id="dataset" formControlName="dataset">
                                            <option *ngFor="let dataset of datasetsOptions">
                                                {{dataset}}
                                            </option>
                                        </select>
                                        <button class="upload__btn btn btn-md btn-primary" (click)="open(content)">
                                            <span class="material-icons-outlined m-0">file_upload</span>
                                        </button>
                                        <button class="delete__btn btn btn-md btn-primary" (click)="deleteDataset()">
                                            <span class="material-icons-outlined m-0">delete</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 mb-4">
                                    <label for="nFeatures">Número de características objetivo: </label>
                                    <input class="form-control" id="nFeatures" type="number"
                                        formControlName="nFeatures">
                                </div>
                                <div
                                    class="col-12 col-md-6 col-lg-4 mb-4 mt-4 form-check form-switch d-flex align-items-center justify-content-center">
                                    <input class="form-check-input d-flex" id="codecarbon" type="checkbox"
                                        formControlName="codecarbon">
                                    <label class="form-check-label" for="codecarbon">Medir emisiones de CO2</label>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div ngbAccordion class="acordeon col-12 mb-4 mt-4">
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <span class="material-icons-outlined">science</span>
                        Configuración avanzada
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <label for="kFolds">Número de folds: </label>
                                    <input class="form-control" id="kFolds" type="number" formControlName="kFolds">
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <label for="reps">Número de repeticiones por fold: </label>
                                    <input class="form-control" id="reps" type="number" formControlName="reps">
                                </div>
                                <div class="col-12 col-lg-4 mb-4">
                                    <label for="precision">Precisión numércia del algoritmo: </label>
                                    <select class="form-control" id="precision" formControlName="precision">
                                        <option *ngFor="let precision of precisionOptions">
                                            {{precision}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <label for="alpha">Valor de alfa: </label>
                                    <input class="form-control" id="alpha" type="number" [step]=".05"
                                        formControlName="alpha">
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <label for="implementation">Implementación: </label>
                                    <select class="form-control" id="implementation" formControlName="implementation">
                                        <option *ngFor="let implementation of implementationOptions">
                                            {{implementation}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-4">
                                    <label for="wait">Número de ciclos máximos sin mejora: </label>
                                    <input class="form-control" id="wait" type="number" formControlName="wait">
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 div__botones">
            <button class="btn btn-lg btn-outline-secondary mr-4 boton__reset" (click)="resetForm()">Resetear</button>
            <button class="btn btn-lg btn-outline-primary" (click)="sendForm()">Comenzar experimento</button>
        </div>
    </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Subir un nuevo conjunto de datos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="mx-4 modal-body d-flex flex-column justify-content-start">
        <div class="my-4">
            <p class="text-center fw-bold">Solo están permitidos archivos .zip</p>
            <input type="file" accept=".zip" class="form-control mt-2" (change)="onFileSelected($event)" #fileUpload>
            <div class="mt-2 d-flex justify-content-center">
                <a class="link__manual" href="home/manual">Para dudas sobre el formato, consulta el manual aquí</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="saveFile()">Subir</button>
    </div>
</ng-template>