button.boton__reset {
    margin-right: 100px;
}

button.upload__btn {
    background: #b53784;
    border: 1px solid #b53784;
    /* border-radius: 0px; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 37.8px;
    width: 50px;
}

button.upload__btn:focus-visible{
    box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
}

button.upload__btn:hover {
    background: white;
    color: #b53784;
}

select.ds__select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.btn-close:focus-visible,  button.btn-close:focus{
    box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
}

.form-check-label {
    margin-right: 10px;
}

input#traintest {
    accent-color: #b53784 !important;
    transform: scale(1.2);
}

button.btn-outline-primary {
    border-color: #b53784;
    color: #b53784;
}

button.btn-outline-primary:hover {
    background: #b53784;
    color: white;
}

button.btn-outline-primary:focus-visible {
    background-color: #b53784;
    box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
    color: white;
}

.delete__btn {
    color: white;
    background: #6c757d;
    border: 1px solid #6c757d;
    margin-left: 5px;
    height: 37.8px;
    width: 50px;
}

.delete__btn:hover {
    background: white;
    color: #6c757d;
}

.delete__btn:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(108,117,125, .5) !important;
}

span.material-icons-outlined {
    margin-right: 10px;
}

.div__botones {
    width: -webkit-fill-available;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 992px) {
    .btn {
        font-size: 18px;
        padding: 5px;
    }
    .div__botones {
        justify-content: center;
    }
}

.link__manual {
    font-size: 16px;
    color: #b53784;
}

.link__manual:hover {
    color: #752456;
}

.accordion__env {
    display: flex;
    justify-content: center;
}

.accordion {
    max-width: 1100px;
}