footer {
  background: #b53784 !important;
}

@media screen and (max-width: 992px) {
  footer {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.imagen-github {
  margin-right: 30px;
  width: 35px;
}

.imagen-docker {
  margin-right: 10px;
  width: 35px;
}

.nombre__env {
  margin-left: 50px;
}