span {
  color: #b53784;
}

.active {
  background: #b53784 !important;
}

li {
  margin-right: 10px;
}

li:hover {
  background: #e7b1d2;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-link {
  color: black;
}

.nav-link:focus-visible {
  border-radius: 5px;
  box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
  border: none;
}

ul {
  margin-right: 30px;
}

.logout:hover {
  cursor: pointer;
  border-radius: 30px;
  background-color: #b53784;
  color: white;
  transition-duration: 0.25s;
}