<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    @if(isLoggedVar) {
        <div class="d-flex align-items-center mx-4">
            <span class="material-icons-outlined logout" title="Cerrar sesión" (click)="logout()">power_settings_new</span>
            <span class="fs-4 px-3">{{email}}</span>
        </div>
    }

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>          
    </a>

    <ul class="nav nav-pills" *ngIf="isLoggedVar">
        <li class="nav-item"><a href="/inicio" class="nav-link {{state == 'inicio' ? 'active' : 'inicio'}}" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/ejecucion-actual" class="nav-link {{state == 'ejecucion-actual' ? 'active' : 'inicio'}}">Ejecucion actual</a></li>
        <li class="nav-item"><a href="/historial" class="nav-link {{state == 'historial' ? 'active' : 'inicio'}}">Historial</a></li>
        <li class="nav-item"><a href="/manual" class="nav-link {{state == 'manual' ? 'active' : 'inicio'}}">Manual de usuario</a></li>
    </ul>
</header>