.accordion {
  border-radius: 0px !important;
}

ngb-pagination {
  z-index: 1;
}

div[ngbScrollSpy] {
  height: 760px;
  padding-bottom: 100px !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #edc4dd;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b53784;
}

div[ngbaccordionbody]  {
  background: #f9ebf4 !important;
  border: 1px solid #b53784;
  border-top: none;
}

.accordion-button {
  border-radius: 0px !important;
  border: 1px solid #b53784 !important;
} 

.paginacion__env {
  position: absolute;
  bottom: 100px;
  width: -webkit-fill-available;
}

ngb-pagination::ng-deep ul>li:not(.active)>a {
  color: #b53784 !important;
  border: 1px solid #b53784 !important;
}

ngb-pagination::ng-deep ul>li:not(.active)>a:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
  background: white !important;
}

ngb-pagination::ng-deep ul>li.active >a {
  background: #b53784 !important; 
  border: 1px solid #b53784;
}

ngb-pagination::ng-deep ul>li.active >a:focus {
  background: #b53784 !important; 
  border: 1px solid #b53784;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
}

button.btn-outline-primary {
  border-color: #b53784;
  color: #b53784;
  background: white;
}

button.btn-outline-primary:hover {
  background: #b53784;
  color: white;
}

button.btn-outline-primary:focus-visible {
  background-color: #b53784;
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
  color: white;
}