.accordion {
  border-radius: 0px !important;
}

ngb-pagination {
  z-index: 3000;
}

div[ngbaccordionbody]  {
  background: #f9ebf4 !important;
  border: 1px solid #b53784;
  border-top: none;
}

.accordion-button {
  border-radius: 0px !important;
  border: 1px solid #b53784 !important;
} 

.paginacion__env {
  position: absolute;
  bottom: 100px;
  width: -webkit-fill-available;
}

.span__id {
  color: #b53784;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 40px;
}

.titulo__elem {
  display: flex;
  justify-items: center;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .titulo__elem {
    font-size: 16px;
  }
}

.valores__exp {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn {
  height: fit-content;
}

.mas__detalles__env {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 992px) {
  .mas__detalles__env {
    justify-content: center;
    padding-top: 30px;
  }
  h5 {
    font-size: 15px;
  }
  .resumen__env {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

button[ngbAccordionButton]:hover > * > * > .span__id  {
  color: white;
  font-weight: 700;
}

ngb-pagination::ng-deep ul>li:not(.active)>a {
  color: #b53784 !important;
  border: 1px solid #b53784 !important;
}

ngb-pagination::ng-deep ul>li:not(.active)>a:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
  background: white !important;
}

ngb-pagination::ng-deep ul>li.active >a {
  background: #b53784 !important; 
  border: 1px solid #b53784;
}

ngb-pagination::ng-deep ul>li.active >a:focus {
  background: #b53784 !important; 
  border: 1px solid #b53784;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
}

button.btn-outline-primary {
  border-color: #b53784;
  color: #b53784;
  background: white;
}

button.btn-outline-primary:hover {
  background: #b53784;
  color: white;
}

button.btn-outline-primary:focus-visible {
  background-color: #b53784;
  box-shadow: 0 0 0 0.25rem #f9ebf4 !important;
  color: white;
}

.historial__env {
  display: flex;
  justify-content: center;
}

.historial {
  width: -webkit-fill-available;
  max-width: 1100px;
}