<div class="p-5">
    <div ngbAccordion class="acordeon">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    MOCK
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div>MOCK</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div ngbAccordion class="acordeon">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    MOCK
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div>MOCK</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div ngbAccordion class="acordeon">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    MOCK
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div>MOCK</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div ngbAccordion class="acordeon">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    MOCK
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div>MOCK</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div ngbAccordion class="acordeon">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    MOCK
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div>MOCK</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center paginacion__env">
        <ngb-pagination [collectionSize]="50" [(page)]="nPaginas" [directionLinks]="false" />
    </div>
</div>