.barplot__env {
  width: -webkit-fill-available;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-right: 50px;
  border-left: 3px solid #752456;
  border-bottom: 3px solid #752456;
}

.bar__elem {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  width: 50px;
  background: #b53784;
  border: 2px solid #752456;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom: 0px;
}

.input__nFeat {
  width: 75px;
  margin-left: 25px;
}

.x__label {
  display: flex;
  justify-content: center;
  color: #752456;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}

.y__label {
  display: flex;
  justify-content: center;
  color: #752456;
  font-size: 25px;
  font-weight: 700;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}