<div class="barplot__comp__env">
    <div class="titulo__barplot text-center">
        Top {{maxFeat}} Características más relevantes
    </div>
    <div class="selector__caract__env m-5 mb-0">
        <label for="nFeat">Número de características: </label>
        <input class="form-control input__nFeat" id="nFeat" type="number" min="1" max={{n_feat()}}
            [(ngModel)]="maxFeat">
    </div>

    <span class="x__label">Importancia</span>
    <div class="d-flex">
        <span class="y__label">
            Característica
        </span>
        <div class="barplot__env">
            <ng-container *ngFor="let index of detalle(); track item; index as i">
                <span class="bar__elem" *ngIf="i < maxFeat"
                    [ngStyle]="{'width': ((index[1] * 1000) + 30) + 'vw'}">{{index[0]}}</span>
            </ng-container>
        </div>
    </div>

</div>