html {
    height: -webkit-fill-available;
    position: relative;
}

app-footer {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
}

.form-check-input:checked {
    background-color: #b53784;
    border-color: #b53784;
}

select:focus, input:focus, button[ngbAccordionButton]:focus {
    border-color: #b53784 !important;
    box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
}

option:hover {
    background-color: #b53784 !important;
}

input.form-check-input {
    margin-right: 10px;
}

div[ngbAccordion] {
    color: #b53784;
}

button[ngbAccordionButton] {
    background: white !important;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}

button[ngbAccordionButton]:hover {
    color: white;
    background: #b53784 !important;
    border: none;
}

div[ngbScrollSpy] {
    height: 760px;
    padding-bottom: 100px !important;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #edc4dd;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b53784;
  }

.modal-dialog {
    margin-top: 150px;
}