@if (exec_info != null) {
    <div>
        @if (exec_info.status !== estadosPosibles[3]) {
            @if (exec_info.status == estadosPosibles[0]) {
                <ngb-progressbar class="col-12" type="danger" [value]="exec_info.progress" [showValue]="false"/>
            }
            @else if (exec_info.status == estadosPosibles[1]) {
                <ngb-progressbar class="col-12" type="success" [animated]="true" [striped]="true" [value]="exec_info.progress" [showValue]="true"/>
            }
            @else if (exec_info.status == estadosPosibles[2]) {
                <ngb-progressbar class="col-12" type="success" [value]="100" [showValue]="false"/>
            }
            <div class="p-5">
                @if (exec_info.status == estadosPosibles[0]) {
                    <h1 class="col-12 text-center mb-5">Status del experimento: <span class="text-danger">error</span></h1>
                }
                @else if (exec_info.status == estadosPosibles[1]) {
                    <h1 class="col-12 mb-5 d-flex align-items-center justify-content-center">Status del experimento: 
                        <span class="text-en-ejec">en ejecución</span>
                        <span class="material-icons-outlined stop__boton" title="Parar ejecución actual">stop_circle</span>
                    </h1>
                }
                @else if (exec_info.status == estadosPosibles[2]) {
                    <h1 class="col-12 text-center mb-5">Status del experimento: <span class="text-success">ejecución terminada</span></h1>
                }
                @if (exec_info.status == estadosPosibles[0]) {
                    <div class="mb-5">
                        <h5 class="header__motivo__error">Motivo del error:</h5>
                        <div class="motivo__error">
                            {{exec_info.errorMessage.toString()}}
                        </div>
                    </div>
                    <div class="col-12 text-center mt-5">
                        <button class="btn btn-lg btn-outline-primary mr-4 boton__reset" (click)="volver()">
                            <span class="material-icons-outlined">keyboard_return</span>
                        </button>
                    </div>
                }
                @else {
                    <div class="exec__info__env">
                        <div class="col-12 exec__info">
                            <div class="row">
                                @if (mostrarTodo) {
                                    <span class="masInfo mb-4" (click)="toggleMostrarTodo()">-info</span>
                                }
                                @else {
                                    <span class="masInfo mb-4" (click)="toggleMostrarTodo()">+info</span>
                                }
                                <div class="col-12 py-2 d-flex justify-content-between align-items-center">
                                    <h5 class="m-0">Conjunto de datos: </h5>
                                    <span class="valores__exp">{{exec_info.ds.toString()}}</span>
                                </div>
                                <div class="col-12 py-2 d-flex justify-content-between fondo__color">
                                    <h5 class="m-0">Número de características objetivo: </h5>
                                    <span class="valores__exp">{{exec_info.n_features_to_select.toString()}}</span>
                                </div>
                                <div class="col-12 d-flex justify-content-between py-2">
                                    <h5 class="m-0">Se han medido emisiones: </h5>
                                    @if(exec_info.codecarbon_tracking) {
                                        <span class="valores__exp">Sí</span>
                                    }
                                    @else {
                                        <span class="valores__exp">No</span>
                                    }
                                </div>
                                @if (mostrarTodo) {
                                    <div class="col-12 py-2 d-flex justify-content-between fondo__color">
                                        <h5 class="m-0">Número de folds: </h5>
                                        <span class="valores__exp">{{exec_info.k_folds.toString()}}</span>
                                    </div>
                                    <div class="col-12 py-2 d-flex justify-content-between">
                                        <h5 class="m-0">Número de repeticiones por fold: </h5>
                                        <span class="valores__exp">{{exec_info.N.toString()}}</span>
                                    </div>
                                    <div class="col-12 py-2 d-flex justify-content-between fondo__color">
                                        <h5 class="m-0">Precisión numérica del algoritmo: </h5>
                                        <span class="valores__exp">{{exec_info.precision.toString().slice(0, 2) + "-bits coma flotante"}}</span>
                                    </div>
                                    <div class="col-12 py-2 d-flex justify-content-between">
                                        <h5 class="m-0">Valor de alfa: </h5>
                                        <span class="valores__exp">{{exec_info.fi.toString()}}</span>
                                    </div>
                                    <div class="col-12 py-2 d-flex justify-content-between fondo__color">
                                        <h5 class="m-0">Implementación del clasificador: </h5>
                                        <span class="valores__exp">{{exec_info.net}}</span>
                                    </div>
                                    <div class="col-12 py-2 d-flex justify-content-between">
                                        <h5 class="m-0">Número de ciclos máximos sin mejora: </h5>
                                        <span class="valores__exp">{{exec_info.wait.toString()}}</span>
                                    </div>
                                }
                                @if (exec_info.status == estadosPosibles[2]) {
                                    <div class="col-12 text-center mt-5">
                                        <button class="btn btn-lg btn-outline-primary mr-4 boton__reset mb-5" (click)="verUltimoExp()">Ir a los resultados</button>
                                    </div>
                                }
                            </div>
                        </div>    
                    </div>      
                }
            </div>
        }
        @else {
            <h1 class="col-12 text-center mt-5">No se ha iniciado ningún experimento</h1>
        }
    </div>
}
@else {
    <h1 class="col-12 text-center mb-5 mt-5">Aun no se ha ejecutado nada</h1>
}