ngb-progressbar {
  height: 25px;
  border-radius: 0px;
}

.text-en-ejec {
  color: #b53784;
}

span {
  color: #b53784;
  font-weight: 700;
}

button.btn-outline-primary {
  border-color: #b53784;
  color: #b53784;
}

button.btn-outline-primary:hover {
  background: #b53784;
  color: white;
}

button.btn-outline-primary:focus-visible {
  background-color: #b53784;
  box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
  color: white;
}