ngb-progressbar {
  height: 25px;
  border-radius: 0px;
}

.text-en-ejec {
  color: #b53784;
}

.stop__boton {
  margin-left: 10px;
  color: #b53784;
  font-size: 35px;
}

.stop__boton:hover {
  cursor: pointer;
  color: white;
  background: #b53784;
  border-radius: 20px;
}

.header__motivo__error {
  color: #b53784;
  padding-left: 20px;
}

.motivo__error {
  color: #b53784;
  font-weight: 700;
  border: 2px solid #b53784;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
}

span.valores__exp, .masInfo {
  color: #b53784;
  font-weight: 700;
  text-align: end;
  display: flex;
  align-items: end;
}

.masInfo {
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
  text-decoration: underline;
}

button.btn-outline-primary {
  border-color: #b53784;
  color: #b53784;
}

button.btn-outline-primary:hover {
  background: #b53784;
  color: white;
}

button.btn-outline-primary:focus-visible {
  background-color: #b53784;
  box-shadow: 0 0 0 0.25rem #e7b1d2 !important;
  color: white;
}

@media screen and (max-width: 992px) {
h5 {
  font-size: 16px;
}
}

.fondo__color {
  background: #f9ebf4;
}
